{
  "extends": "stylelint-config-standard",
  "rules": {
    "function-url-quotes": "never",
    "selector-pseudo-element-colon-notation": "single",
    "selector-no-vendor-prefix": true,
    "at-rule-no-unknown": null,
    "no-duplicate-selectors": true
  }

}